html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.theme-dark {
    background-color: $dark !important;
}

.theme-dark-text {
    color: $light !important;

}

#discount,
#deal-product,
#top-sellers,
#categories {
    padding-top: 4rem;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.parallax>* {
    position: relative;
    z-index: 2;
}

.content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
}

.category {
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    text-decoration: none;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: filter 0.2s ease;
}

.carousel-item>img {
    transition: filter 0.2s ease;

}

.category:hover,
.carousel:hover img {
    filter: brightness(40%);
}

// Auth
.form-signin,
.form-register {
    max-width: 400px;
    padding: 15px;
    margin: auto;

    .form-group {
        margin-bottom: 15px;
    }
}

#passwordCriteria {
    .invalid {
        color: red;

        .bi {
            color: red;
        }
    }

    .valid {
        color: green;

        .bi {
            color: green;
        }
    }
}

//cart

.cart-container {
    flex: 1;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.quantity-input {
    width: 60px;

}

#checkoutForm {
    .form-group {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0.5rem;
    }

    button[type="submit"] {
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
    }
}




@media (min-width: 576px) {
    .content {
        text-align: left;
        width: 18rem;
        left: 30%;
        transform: translate(-30%, -30%);

    }
}

@media (min-width: 768px) {

    #discount,
    #deal-product,
    #top-sellers,
    #categories {
        padding-top: 6rem;
    }

    .category {
        height: 285px;
    }

}