$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

@import "bootstrap/scss/functions";

$primary: #F4C430;
$secondary: #C21807;
$success:  #38761D;
$light: #D5C4A1;
$dark: #3E2723;
$white: #FFFDF4;

$offcanvas-horizontal-width: 14rem;
$offcanvas-bg-color: $dark;
$border-radius: .4rem;


@import "./globals";

@import "bootstrap/scss/bootstrap";


// Icons
@import "bootstrap-icons/font/bootstrap-icons.min.css";

